@use './../../../../styles/abstracts' as *;

.panel {
    position: relative;
    padding: var(--base-spacing);
    border: 1px solid $c-black;
    border-radius: var(--base-border-radius);
    box-shadow: var(--base-shadow-highlight);

    // THEMES
    &.primary {
        background-color: $c-primary;
        color: $c-light;
    }

    &.secondary {
        background-color: $c-secondary;
        color: $c-light;
    }

    &.primary-faded {
        background-color: $c-primary-faded;
        color: $c-light;
    }

    &.secondary-faded {
        background-color: $c-secondary-faded;
        color: $c-light;
    }

    &.dark {
        background: $c-gradient-dark;
        color: $c-light;
    }

    &.light {
        background: $c-gradient-light;
        color: $c-dark;
    }
}
