@use './../../../../styles/abstracts' as *;

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--base-spacing);
  background: $c-gradient-dark;
  height: 100%;
  padding: var(--base-spacing);
  color: $c-desert-storm;
}

.logo {
  line-height: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: $s-xl;
}

.menu-item {
    --indicator-size: 0.5rem;

    position: relative;

    &::after {
        content: '';
        border-top: var(--indicator-size) solid transparent;
        border-bottom: var(--indicator-size) solid transparent;
        border-right: var(--indicator-size) solid $c-quill-gray;
        position: absolute;
        right: calc(var(--base-spacing) * -1);
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &.active {
        color: $c-primary-faded;

        &::after {
            opacity: 1;
        }
    }

    &:hover {
        color: $c-primary;
    }
}

.menu-link {
  display: flex;
  align-items: center;
  gap: var(--base-spacing);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: var(--base-spacing);
  margin-top: auto;
}

.avatar-link {
  margin: 0;
}

.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $s-xs;
  font-size: 0.75rem;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  gap: $s-s;
  padding: $s-m;
  background-color: $c-desert-storm;
}

.settings-item {
  display: flex;
  align-items: center;
  gap: $s-s;
  padding: $s-s $s-m;
  color: $c-steel-gray;
  cursor: pointer;
  border-radius: var(--base-border-radius);

  &:hover {
    background: $c-primary;
    color: $c-desert-storm;
  }
}
