<div class="sidebar-wrapper">
  <app-logo class="logo" url="/admin"></app-logo>
  <app-separator class="separator"></app-separator>
  <nav class="nav">
    <ul class="menu">
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/dashboard">
          <app-icon [icon]="faHome" class="menu-icon"></app-icon>
          <span class="menu-name">Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/projects/list">
          <app-icon [icon]="faTask" class="menu-icon"></app-icon>
          <span class="menu-name">Projects</span>
        </a>
      </li>
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/services/list">
          <app-icon [icon]="faCog" class="menu-icon"></app-icon>
          <span class="menu-name">Services</span>
        </a>
      </li>
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/users/list">
          <app-icon [icon]="faUser" class="menu-icon"></app-icon>
          <span class="menu-name">Users</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
