@use './../../../../styles/abstracts' as *;

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: $s-m;
  background: $c-gradient-dark;
  height: 100%;
  padding: $s-m;
  color: $c-desert-storm;
}

.logo {
  line-height: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: $s-xl;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: $s-m;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: $s-m;
  margin-top: auto;
}

.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $s-xs;
  font-size: 0.75rem;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  gap: $s-s;
  padding: $s-m;
  background-color: $c-desert-storm;
}

.settings-item {
  display: flex;
  align-items: center;
  gap: $s-s;
  padding: $s-s $s-m;
  color: $c-steel-gray;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: $c-primary;
    color: $c-desert-storm;
  }
}

@include desktop {
  .sidebar-wrapper {
    padding: $s-l;
    gap: $s-l;
  }

  .sidebar-footer {
    gap: $s-l;
  }
}
