<div class="sidebar-wrapper">
  <app-logo class="logo" url="/admin"></app-logo>
  <app-separator class="separator"></app-separator>
  <nav class="nav">
    <ul class="menu">
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/dashboard">
          <app-icon [icon]="faHome" class="menu-icon"></app-icon>
          <span class="menu-name">Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/projects/list">
          <app-icon [icon]="faStart" class="menu-icon"></app-icon>
          <span class="menu-name">Projects</span>
        </a>
      </li>
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/services/list">
          <app-icon [icon]="faGift" class="menu-icon"></app-icon>
          <span class="menu-name">Services</span>
        </a>
      </li>
      <li routerLinkActive="active" class="menu-item">
        <a class="menu-link" routerLink="/admin/users/list">
          <app-icon [icon]="faUser" class="menu-icon"></app-icon>
          <span class="menu-name">Users</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="sidebar-footer">
    <app-separator></app-separator>
    <div class="sidebar-user">
      <app-avatar imageUrl="assets/icons/avatar.png" title="Admin" size="small"></app-avatar>
      <span class="sidebar-username">Admin</span>
      <app-dropdown>
        <div class="trigger-settings" dropdownTrigger>
          <app-icon [icon]="faCog"></app-icon>
        </div>
        <nav dropdownContent>
          <ul class="settings-menu">
            <li class="settings-item" routerLink="/">
              Visit Portfolio
            </li>
            <li class="settings-item" (click)="logoutHandler()">
              Log out
            </li>
          </ul>
        </nav>
      </app-dropdown>
    </div>
  </div>
</div>
