@use "./../../../../styles/abstracts" as *;

.button {
    position: relative;
    display: block;
    text-align: center;
    background: transparent;
    border: none;
    border-radius: var(--base-border-radius);
    outline: none;
    box-sizing: border-box;
    transition: transform 0.3s ease;

    &:hover {

        &::after {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(0.95);
    }

    &::before, &::after {
        @include fill;
        z-index: $z-minus;
        content: '';
        border-radius: var(--base-border-radius);
        transition: opacity .3s ease-out;
      }

      &::before {
        box-shadow: var(--base-shadow);
        opacity: 1;
      }

      &::after {
        box-shadow: var(--base-shadow-highlight);
        opacity: 0;
      }

    // THEME
    &.transparent {
        color: $c-primary;
    }

    &.black {
        color: $c-white;
        background: $c-black;
    }

    &.primary {
        color: $c-white;
        background: $c-primary;
    }

    &.primary-inverted {
        color: $c-primary;
        background: transparent;
    }

    &.secondary {
        color: $c-black;
        background: $c-secondary;
    }

    &.secondary-inverted {
        color: $c-secondary;
        background: transparent;
    }

    &.success {
        color: $c-white;
        background: $c-success;
    }

    &.danger {
        color: $c-white;
        background: $c-danger;
    }

    &.warning {
        color: $c-white;
        background: $c-warning;
    }

    &.info {
        color: $c-white;
        background: $c-info;
    }

    // SIZES
    &.small {
        padding: $s-xs $s-l;
        font-size: 0.6rem;
    }

    &.medium {
        padding: $s-m $s-xl;
        font-size: 0.7rem;
    }

    &.large {
        padding: $s-m $s-xl;
        font-size: 0.85rem;
    }
}
