<section class="projects__page">
  <div class="container">
    <div class="text--center text--content">
      <div class="subtitle--m">
        Development Resources
      </div>
      <h1>Projects</h1>
    <p>A selection of my projects, created with care and dedication.</p>
    </div>
    <div *ngIf="!isLoading && projects.length">
      <div class="subtitle--m">Recent Projects</div>
      <app-projects [projects]="projects"></app-projects>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="flex-center">
        <a href="https://github.com/pmanikas" target="_blank" class="text--center projects__button">
          <app-button theme="black" size="large">
            Visit my Github &nbsp;
            <fa-icon [icon]="faGithub" class="social__icon"></fa-icon>
          </app-button>
        </a>
    </div>
  </div>
</section>
