<ng-template #inner>
    <div class="card" [class]="[theme]">
        <div *ngIf="title" class="card__header">
            <h3>{{ title }}</h3>
        </div>
        <p class="card__main">
            <ng-content></ng-content>
        </p>
        <div *ngIf="bottomText" class="card__footer">{{ bottomText }}</div>
    </div>
</ng-template>

<div *ngIf="!link">
    <ng-container [ngTemplateOutlet]="inner">
    </ng-container>
</div>
<a *ngIf="link && link.includes('.')" [href]="link" target="_blank">
    <ng-container [ngTemplateOutlet]="inner">
    </ng-container>
</a>
<a *ngIf="link && !link.includes('.')" [routerLink]="link">
    <ng-container [ngTemplateOutlet]="inner">
    </ng-container>
</a>
