@use './../../../../styles/abstracts' as *;

.card {
  position: relative;
  display: block;
  width: 300px;
  max-width: 100%;
  padding: $s-xxl;
  border-radius: var(--base-border-radius);
  transition: transform .3s ease-out;

  &__main {
    font-size: 0.8rem;
    font-weight: 100;
  }

  &__footer {
    font-size: 0.9rem;
  }

  &:hover{
    transform: scale(1.02) translateY(-$s-xs);

    &::after {
      opacity: 1;
    }
  }

  &::before, &::after {
    @include fill;
    z-index: $z-minus;
    content: '';
    border-radius: var(--base-border-radius);
    transition: opacity .3s ease-out;
  }

  &::before {
    box-shadow: var(--base-shadow);
    opacity: 1;
  }

  &::after {
    box-shadow: var(--base-shadow-highlight);
    opacity: 0;
  }

  // TYPES
  &--transparent {
    color: $c-primary;
  }

  &--primary {
    color: $c-white;
    background: $c-primary;
  }

  &--primary-inverted {
    color: $c-primary;
    background: transparent;
    border: 1px solid currentColor;
  }

  &--secondary {
    color: $c-white;
    background: $c-secondary;
  }

  &--secondary-inverted {
    color: $c-secondary;
    background: transparent;
    border: 1px solid currentColor;
  }
}
