@use "./../../../../styles/abstracts" as *;

.card {
    position: relative;
    display: block;
    width: 300px;
    max-width: 100%;
    padding: $s-xxl;
    border-radius: var(--base-border-radius);
    transition: transform 0.3s ease-out;

    &__main {
        font-size: 0.8rem;
        font-weight: 100;
    }

    &__footer {
        font-size: 0.9rem;
    }

    &:hover {
        transform: scale(1.02) translateY(-$s-xs);

        &::after {
            opacity: 1;
        }
    }

    &::before,
    &::after {
        @include fill;
        z-index: $z-minus;
        content: "";
        border-radius: var(--base-border-radius);
        transition: opacity 0.3s ease-out;
    }

    &::before {
        box-shadow: var(--base-shadow);
        opacity: 1;
    }

    &::after {
        box-shadow: var(--base-shadow-highlight);
        opacity: 0;
    }

    // THEMES
    &.transparent {
        color: $c-primary;
    }

    &.primary {
        color: $c-light;
        background: $c-primary;
    }

    &.secondary {
        color: $c-light;
        background: $c-secondary;
    }

    &.primary-faded {
        color: $c-light;
        background: $c-primary-faded;
    }

    &.secondary-faded {
        color: $c-light;
        background: $c-primary-faded;
    }

    &.dark {
        color: $c-light;
        background: $c-gradient-dark;
    }

    &.light {
        color: $c-dark;
        background: $c-gradient-light;
    }
}
