<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <p class="footer__title subtitle--l">Get in touch</p>
      <h2 class="footer__subtitle">Let's work together</h2>
      <p class="footer__details">
        If you have a website or a web app idea in mind or you need some advice
        about development architecture, feel free to
        <a [routerLink]="['/contact']"><strong>contact me</strong></a>. Currently my time books quickly, so the sooner you write, the better it is for both of us.
      </p>
      <app-button [link]="'mailto:hello@pantelismanikas.com'" class="footer__button" [size]="'large'" [theme]="'primary'">hello@pantelismanikas.com</app-button>
      <app-social-media class="footer__social"></app-social-media>
      <app-credits class="footer__credits"></app-credits>
    </div>
  </div>
</footer>
