@use './../../../styles/theme' as *;

.services {
  &__intro {
    display: flex;
    flex-direction: column;
    margin-bottom: $s-xxxl;
  }
  &__intro__details {
    flex-basis: 60%;
    h2 {
      margin-bottom: $s-m;
    }
    p {
      font-weight: 100;
    }
  }
  &__buttons {
    display: flex;
  }
}

.services__button~.services__button {
  margin-left: $s-xl;
}

.subscribtion {
  text-align: center;
}

@include tablet {
  .services {
    &__intro {
      flex-direction: row;
      align-items: center;
    }
    &__buttons {
      display: flex;
      flex-basis: 40%;
      justify-content: flex-end;
    }
  }
}
