<div class="container">
  <app-hero></app-hero>
</div>
<hr />
<section class="services">
  <div class="container">
    <div class="services__intro">
      <div class="services__intro__details">
        <div class="subtitle--m">How I work</div>
        <h2>Development Process</h2>
        <p>
          Reach your business goals with the most updated web practices. Let’s
          start working on your awesome Web App.
        </p>
      </div>
      <div class="services__buttons">
        <app-button
          class="services__button"
          [size]="'medium'"
          [theme]="'primary'"
          >Start a project</app-button
        >
        <app-button
          class="services__button"
          [size]="'medium'"
          [theme]="'primary--inverted'"
          >Learn more</app-button
        >
      </div>
    </div>
    <app-services></app-services>
  </div>
</section>
<hr />
<section class="projects">
  <div id="projects" class="container">
    <div class="subtitle--m">Recent Cases</div>
    <h2>Projects</h2>
    <app-projects></app-projects>
  </div>
</section>
<hr />
<section class="subscribtion">
  <div class="container">
    <div class="subtitle--m">Stay Updated</div>
    <h2>Discover how I work</h2>
    <p>
      Get behind the scenes and have a look at my dev process. Sign up to stay
      informed about the latest case studies and get unlimited access to my dev
      resources.
    </p>
    <app-email-subscription></app-email-subscription>
  </div>
</section>
