@use './../../../styles/theme' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-highlight;
  width: 100%;
  display: flex;
  align-items: center;
  height: $s-header-height;
  background: $c-white;
  border-bottom: 1px solid transparentize($c-black, 0.95);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contact__button {
    display: none;
    margin: 0;
    font-size: 0;
  }
}

@include desktop {
  .header__contact__button {
    display: block;
  }
}
