<div>
  <a [routerLink]="['/admin/users/details/new']"><app-button>Add User</app-button></a>
</div>

<div class="users-list">
  <div *ngFor="let user of users">
    <app-card class="user-card" theme="primary-faded" [title]="user.name" >
      <div>
        <img class="user-image" [src]="user.image" (alt)="(user.name)" />
        &nbsp;
        {{ user.email }}
      </div>
      <div>
        <app-button (click)="deleteHandler(user)">DELETE</app-button>
        &nbsp;
        <a [routerLink]="['/admin/users/details/' + user._id]"><app-button class="btn">EDIT</app-button></a>
      </div>
    </app-card>
  </div>
</div>
