<div class="hero">
  <div class="hero__details">
    <h1 class="hero__header">Web App Developer</h1>
    <p class="hero__description">Currently Senior Front End Developer at <a href="friskyradio.com" target="_blank"><strong>FRISKY Radio</strong></a> creating the next generation, music streaming Web and iOS Apps.</p>
    <a [routerLink]="['/contact']">
      <app-button size="medium" theme="primary">Get started</app-button>
    </a>
  </div>
  <div class="hero__collage">
    <div class="hero__image__container">
      <app-image-resource class="hero__image" [src]="imageUrl" alt="Pantelis Manikas Black and White" [width]="'300'" [height]="'400'" [lazy]="false"></app-image-resource>
    </div>
  </div>
</div>
