<div class="hero">
  <div class="hero__details">
    <h1 class="hero__header">App Developer</h1>
    <p class="hero__description">Currently Senior Front End Developer at <a href="friskyradio.com" target="_blank"><strong>FRISKY Radio</strong></a> creating the next generation, music streaming Web and iOS Apps.</p>
    <app-button [size]="'large'" [theme]="'primary'">Get started</app-button>
  </div>
  <div class="hero__collage">
    <div class="image__container">
      <app-image-resource [src]="imageUrl" [alt]="'Pantelis Manikas Anime'" [width]="'300'" [height]="'300'" [lazy]="false"></app-image-resource>
    </div>
  </div>
</div>
