@use './../../../styles/theme' as *;

$image-size: 300px;

.hero {
  display: flex;
  min-height: calc(100vh - #{$s-header-height});
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding: $s-xl 0;
  &__details {
    max-width: 520px;
    flex-basis: 50%;
  }
  &__description {
    font-size: 1.2rem;
    font-weight: 100;
  }
  &__collage {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
  }
  &__image__container {
    position: relative;
    &::before {
      @include fill;
      top: -$s-xl;
      left: -$s-xl;
      content: '';
      z-index: $z-minus;
      background: linear-gradient($c-primary, $c-secondary);
      border-radius: 6px;
      opacity: 0.5;
    }
  }
  &__image{
    display: block;
    border-radius: 6px;
    overflow: hidden;
    filter: grayscale(1);
    opacity: 0.9;
  }
}


@include desktop {
  .hero {
    flex-direction: row;
  }
}
