@use './../../../../styles/abstracts' as *;

.projects {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: $s-xxl;
  }
  &__item__description {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: transparentize($c-black, 0.4);
  }
  &__item__image__container {
    margin-bottom: $s-m;
    overflow: hidden;
    font-size: 0;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 5%), 0 10px 20px rgb(0 0 0 / 5%);
  }
}
