// Color Names inspired by https://chir.ag/projects/name-that-color
$c-white: #ffffff;
$c-quill-gray: #d5d4d0;
$c-desert-storm: #eeeeec;

$c-black: #000000;
$c-shark-black: #1e1e24;
$c-steel-gray: #1e1e2f;

$c-blue-ribbon: #3340FF;
$c-azure-radiance: #0087fe;
$c-radical-red: #FF3366;
$c-french-rose: #EA4C89;

$c-tamarillo-red: #A6192E;
$c-peel-orange: #FF9900;
$c-haze-green: #04b34f;
$c-endeavour-blue: #0057B8;

// Theme
$c-dark: $c-shark-black;
$c-dark-faded: $c-steel-gray;
$c-light: $c-desert-storm;
$c-primary: $c-blue-ribbon;
$c-primary-faded: $c-azure-radiance;
$c-secondary: $c-radical-red;
$c-secondary-faded: $c-french-rose;

// Utility - Status
$c-success: $c-haze-green;
$c-danger: $c-tamarillo-red;
$c-warning: $c-peel-orange;
$c-info: $c-endeavour-blue;

// Elements
$c-faded-text: transparentize($c-black, 0.2);

// Gradients
$c-gradient: linear-gradient(90deg, $c-primary, $c-secondary);
$c-gradient-faded: linear-gradient(90deg, $c-primary-faded, $c-secondary-faded);
$c-gradient-dark: linear-gradient($c-steel-gray, $c-shark-black);
$c-gradient-light: linear-gradient($c-quill-gray, $c-quill-gray, $c-desert-storm);
