@use 'sizes' as *;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin mobileOnly {
  @media (max-width: $s-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $s-large-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $s-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $s-desktop) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: $s-widescreen) {
    @content;
  }
}

@mixin largescreen {
  @media (min-width: $s-largescreen) {
    @content;
  }
}

@mixin scrollableWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  > * {
    flex: 0 0 auto;
  }
}
