// SPACING
$s-xxs: 0.1rem;
$s-xs: 0.2rem;
$s-s: 0.3rem;
$s-m: 0.5rem;
$s-l: 0.8rem;
$s-xl: 1.3rem;
$s-xxl: 2.1rem;
$s-xxxl: 3.4rem;

// BREAKPOINTS
$s-mobile: 480px;
$s-tablet: 768px;
$s-desktop: 992px;
$s-widescreen: 1200px;

$breakpoints: (
    sm: $s-mobile,
    md: $s-tablet,
    lg: $s-desktop,
    xl: $s-widescreen
);

// ELEMENTS SPACING
$section-spacing: $s-xl;
$s-header-height: $s-xxl;
