<div class="hero">
  <div class="hero__details">
    <h1 class="hero__header">Software Consultant</h1>
    <p class="hero__description">Tech leader at <a href="https://restep.io" target="_blank" class="accent"><strong>Restep</strong></a> reinventing education & Senior Front-end Developer at <a href="friskyradio.com" target="_blank" class="secondary"><strong>FRISKY Radio</strong></a> creating the next generation, music streaming Web and iOS Apps.</p>
    <a [routerLink]="['/contact']">
      <app-button size="medium" theme="primary">Get started</app-button>
    </a>
  </div>
  <div class="hero__collage">
    <div class="hero__image__container">
      <app-image-resource class="hero__image" [src]="imageUrl" alt="Pantelis Manikas Black and White" [width]="'300'" [height]="'400'" [lazy]="true"></app-image-resource>
    </div>
  </div>
</div>
