@use "./../../../../styles/abstracts" as *;

.dropdown-container {
    position: relative;
    display: inline-block;
}

.trigger {
    cursor: pointer;
}

.dropdown-content {
    position: fixed;
    z-index: 1000;
    min-width: 200px;
    max-width: calc(100vw - $s-xxl);
    max-height: calc(100vh - $s-xxxl);
    margin-top: $s-m;
    background: $c-light;
    box-shadow: var(--base-shadow);
    border-radius: var(--base-border-radius);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.dropdown-content.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-content-top {
    margin-top: 0;
    margin-bottom: $s-m;
    transform: translateY($s-s);
}

.dropdown-content-top.open {
    transform: translateY(0);
}

.dropdown-content {
    border: 1px solid transparentize($c-dark, 0.9);
}

.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: transparentize($c-dark, 0.8);
    border-radius: var(--base-border-radius);
    border: 2px solid transparent;
    background-clip: padding-box;
}
