<div *ngIf="!isLoading">
    <div *ngIf="projects.length">
        <table *ngIf="projects.length" class="table hoverable">
            <thead>
                <tr class="text-left">
                    <th>Image</th>
                    <th>Order</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Modified Date</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-left" *ngFor="let project of projects">
                    <td>
                        <app-avatar [imageUrl]="project.image" size="large"></app-avatar>
                    </td>
                    <td>{{ project.order }}</td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.type }}</td>
                    <td>{{ project.modified_date | date: 'dd/MM/yyyy hh:mm' }}</td>
                    <td>
                        <app-button theme="primary" [link]="'/admin/projects/details/' + project._id">Edit</app-button>
                    </td>
                    <td>
                        <app-button (click)="deleteHandler(project)" theme="danger">Delete</app-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div class="flex-end">
        <app-button theme="black" size="medium" [link]="'/admin/projects/details/new'">Add new</app-button>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
