<div class="list__add__button">
  <a [routerLink]="['/admin/projects/details/new']"
  ><app-button class="list__button btn btn-success">Add Project</app-button></a
>
</div>

<div class="projects">
  <div *ngFor="let project of projects">
    <app-card>
      <div>
        <img
          [src]="project.image"
          (alt)="(project.title)"
          class="item-image"
        />
        &nbsp;
        {{ project.title }}
      </div>
      <div>
        <app-button
          (click)="deleteHandler(project)"
          >DELETE</app-button
        >
        &nbsp;
        <a [routerLink]="['/admin/projects/details/' + project._id]"
          ><app-button class="btn">EDIT</app-button></a
        >
      </div>
    </app-card>
  </div>
</div>
