@use './../../../../styles/abstracts' as *;

.control-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border: thin solid $c-dark;
    padding: $s-m;
}

.instructions-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.can-drop-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparentize($c-dark, 0.5);
}

input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
