@use "./../../../styles/abstracts" as *;

.services {

    &__intro {
        display: flex;
        flex-direction: column;
        margin-bottom: $s-xxxl;
    }

    &__intro__details {
        flex-basis: 60%;

        h2 {
            margin-bottom: $s-m;
        }

        p {
            font-weight: 100;
        }
    }

    &__buttons {
        display: flex;
        gap: var(--base-spacing);
    }
}

.subscribtion {
    text-align: center;
}

@include tablet {
    .services {

        &__intro {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;
        }
    }
}
