<section class="about">
  <div class="container">
    <div class="text--content">
      <div class="text--center">
        <div class="subtitle--m">Nice to meet you</div>
        <h1>Hi there, I'm Pantelis Manikas</h1>
        <p>I work as a Front End Developer and software/IT consultant, creating solutions to help you grow your business.</p>
      </div>
    </div>
    <div class="text--content">
      <div class="subtitle--m">Current Status</div>
      <h2>What do I do now?</h2>
      <p class="hero__description" [innerHtml]="about"></p>
      <p>Additionally I'm a proud father of an awesome doggo. His name is Kyuubi. Warning! If you're sensitive or alergic to cuteness please don't <strong>click</strong> at the image below.</p>
      <div (click)="isVisible = true" class="about-image-container">
        <app-image-resource [class.is-visible]="isVisible" class="about-image" src="/assets/images/kyuubi-male-half-breed-cute-maltese-puppy.jpg" alt="Kyuubi Doggo" [width]="'600'" [height]="'800'"></app-image-resource>
      </div>
    </div>
  </div>
</section>
