<section class="blog">
  <div class="container">
    <div class="blog__intro text--center text--content">
      <div class="subtitle--m">My happy place</div>
      <h1>Nerd Area Alert</h1>
      <p>
        As a retro collector, what is better than writing down my thoughts and opinions about Video Games and Gaming
        Consoles? <strong>Subscribe below</strong> and don't miss my latest articles...
      </p>
      <app-email-subscription></app-email-subscription>
    </div>
    <div class="subtitle--m">Recent</div>
    <app-articles *ngIf="!isLoading" [articles]="articles"></app-articles>
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
</section>
