@use './../../../styles/theme' as *;

:host{
  &~:host {
    margin-left: $s-l;
  }
}
.button {
  position: relative;
  text-align: center;
  background: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: transform .3s ease;
  &:hover{
    &::after {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  &:active {
    transform: scale(0.95);
  }
  &::before {
    @include fill;
    content: '';
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%), 0 1px 2px rgb(28 35 139 / 10%), 0 2px 5px rgb(41 52 204 / 20%);
    transition: opacity .3s ease;
    opacity: 1;
  }
  &::after {
    @include fill;
    content: '';
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 5%), 0 7px 14px rgb(28 35 139 / 15%);
    transition: opacity .3s ease;
    opacity: 0;
  }

  // Button Types
  &--transparent {
    color: $c-primary;
  }
  &--black {
    color: $c-white;
    background: $c-black;
  }
  &--primary {
    color: $c-white;
    background: $c-primary;
  }
  &--primary--inverted {
    color: $c-primary;
    background: transparent;
  }
  &--secondary {
    color: $c-white;
    background: $c-secondary;
  }
  &--secondary--inverted {
    color: $c-secondary;
    background: transparent;
  }

  // Button Sizes
  &--small {
    padding: $s-xs $s-l;
  }
  &--medium {
    padding: $s-m $s-xl;
    font-size: 0.7rem;
  }
  &--large {
    padding: $s-m $s-xl;
    font-size: 0.85rem;
  }
}
