@use './../../styles/abstracts' as *;

.top-line {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-highlight;
  width: 100%;
  border-top: 2px solid $c-secondary-faded;
}

.admin-wrapper {
  width: 100%;
  background: $c-gradient-light;
  overflow: visible;
}

.admin-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.admin-router {
  padding: 0 $s-m;
}

@include desktop {
  .admin-wrapper  {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .admin-sidebar {
    position: sticky;
    top: 0;
    left: unset;
    transform: unset;
    align-self: flex-start;
  }

  .admin-router {
    padding: $s-l;
  }
}

@include widescreen {
  .admin-wrapper  {
    grid-template-columns: 300px 1fr;
  }
}
