@use './../../styles/abstracts' as *;

.top-line {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-highlight;
  width: 100%;
  border-top: 2px solid $c-secondary-faded;
}

.admin-wrapper {
  width: 100%;
  background: $c-gradient-light;
  overflow: visible;
}

.admin-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-highlight;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  box-shadow: var(--base-shadow-highlight);

  &.open {
    transform: translateX(0);
  }
}

.admin-main {
  min-height: 100vh;


  &.frozen {
    height: 100vh;
    overflow: hidden;
  }
}

.admin-router {
  padding: var(--base-spacing);
}

@include desktop {
  .admin-wrapper  {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .admin-sidebar {
    position: sticky;
    top: 0;
    left: unset;
    align-self: flex-start;
    width: unset;
    transform: unset;
  }
}

@include widescreen {
  .admin-wrapper  {
    grid-template-columns: 300px 1fr;
  }
}
