
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
         <div class="row">
           <div class="col-12"></div>
         </div>
        </div>
        <div class=" card-body">
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Articles</h5>
          <h3 class=" card-title">
            12
          </h3>
        </div>
        <div class=" card-body">
          <div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Projects</h5>
          <h3 class=" card-title">
            14
          </h3>
        </div>
        <div class=" card-body">
          <div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Services</h5>
          <h3 class=" card-title">
            4
          </h3>
        </div>
        <div class=" card-body">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
