<app-panel theme="dark">
    <div class=" row flex-center">
        <div class="col-lg-4 flex-center">
            <app-card theme="primary-faded">
                <div #body>
                    <h5 class="flex-center">Total Users</h5>
                    <h2 class="flex-center">10</h2>
                </div>
            </app-card>
        </div>
        <div class="col-lg-4 flex-center">
            <app-card theme="primary-faded">
                <div #body>
                    <h5 class="flex-center">Total Projects</h5>
                    <h2 class="flex-center">14</h2>
                </div>
            </app-card>
        </div>
        <div class="col-lg-4 flex-center">
            <app-card theme="primary-faded">
                <div #body>
                    <h5 class="flex-center">Total Services</h5>
                    <h2 class="flex-center">20</h2>
                </div>
            </app-card>
        </div>
    </div>
</app-panel>
