@use './../../../../styles/abstracts' as *;

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-m;
}

.title {
  font-size: 1rem;
  margin: 0;
}

@include desktop {
  .topbar-wrapper {
    padding: $s-l;
  }
}
