@use './../../../../styles/abstracts' as *;

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-spacing);
}

.title {
  font-size: 1rem;
  margin: 0;
}

.menu-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
  cursor: pointer;

  &.open {
    .patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}

.patty {
  width: 20px;
  height: 2px;
  background: $c-primary;
  transition: all 0.3s ease;
  transform-origin: center;
}

@include desktop {

  .menu-toggle-button {
    display: none;
  }
}
