<form (ngSubmit)="submitHandler()">
    <div class="form-group">
        <div class="image-container">
            <app-image-upload
              [src]="project.image"
              (imageLoaded)="imageLoaded($event)"
            ></app-image-upload>
          </div>
      </div>
    <div class="form-group">
        <label for="order">Order</label>
        <input type="number" class="form-control" id="order" name="order" min="0" [(ngModel)]="project.order" />
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="project.title" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" [(ngModel)]="project.type" id="type" name="type" />
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" [(ngModel)]="project.url" id="url" name="url" />
    </div>
    <div class="form-group">
        <label for="iframeUrl">iframe Url</label>
        <input type="text" class="form-control" [(ngModel)]="project.iframeUrl" id="iframeUrl" name="iframeUrl" />
    </div>
    <div class="form-group">
        <label for="image">Description</label>
        <app-text-editor id="description" name="description" [html]="project.description" [isDisabled]="isLoading" (htmlChange)="updateHtml($event)"></app-text-editor>
    </div>
    <br>
    <div class="flex-end">
        <app-button theme="primary" size="medium" type="submit" (disabled)="isLoading">Submit</app-button>
    </div>
</form>
