<section class="about">
  <div class="container">
    <div class="text--content">
      <div class="text--center">
        <div class="subtitle--m">Nice to meet you</div>
        <h1>Hi there, I'm Pantelis Manikas</h1>
        <p>I work as a Front End Developer creating solutions in the form of Software to help you grow your business.</p>
      </div>
    </div>
    <div class="text--content">
      <div class="subtitle--m">Current Status</div>
      <h2>What do I do now?</h2>
      <p>Currently I'm a Senior Front End developer at FRISKY Radio, developing the next-gen music streaming web and ios app.</p>
      <p>Additionally I'm a proud father of an awesome doggo. His name is Kyuubi. Warning! If you're sensitive or alergic to cuteness please don't look at the image below.</p>
      <app-image-resource class="about__image" src="/assets/images/kyuubi-male-half-breed-cute-maltese-puppy.jpg" alt="Kyuubi Doggo" [width]="'600'" [height]="'800'"></app-image-resource>
    </div>
  </div>
</section>
