@use './../../../../styles/abstracts' as *;

.articles {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: $s-xxl;
  }
  &__item__excerpt {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: transparentize($c-black, 0.4);
  }
  &__item__image__container {
    position: relative;
    margin-bottom: $s-m;
    overflow: hidden;
    font-size: 0;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 15%), 0 10px 20px rgb(0 0 0 / 15%);
  }
  &__item__image {
    transition: transform .3s ease-in-out;
  }
  &__item:hover {
    .articles__item__image {
      transform: scale(1.05);
    }
  }
}

.category ~ .category {
  &::before {
    content: ', ';
  }
}

@include desktop {
  .articles {
    &__grid {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
}

