@use "./../../../../styles/abstracts" as *;

.single-project-container {
    display: flex;
    min-height: 800px;
    justify-content: center;
}

.not-found {
    align-self: center;
}

.iframe {
    width: 3000px;
    height: 2000px;
    max-width: 100%;
    max-height: 100vh;
}

.title {
    font-size: inherit;
}
