<ul class="social">
  <li class="social__item">
    <a rel="noopener" aria-label="LinkedIn Profile" title="LinkedIn Profile" class="social__link" href="https://www.linkedin.com/in/pmanikas/">
      <fa-icon [icon]="faLinkedin" class="social__icon"></fa-icon>
    </a>
  </li>
  <li class="social__item">
    <a rel="noopener" aria-label="Github Account" title="Github Account" class="social__link" href="https://github.com/pmanikas">
      <fa-icon [icon]="faGithub" class="social__icon"></fa-icon>
    </a>
  </li>
  <li class="social__item">
    <a rel="noopener" aria-label="NPM Account" title="NPM Account" class="social__link" href="https://npmjs.com/~pmanikas">
      <fa-icon [icon]="faNpm" class="social__icon"></fa-icon>
    </a>
  </li>
  <li class="social__item">
    <a rel="noopener" aria-label="Instagram Account" title="Instagram Account" class="social__link" href="https://www.instagram.com/pmanikas/">
      <fa-icon [icon]="faInstagram" class="social__icon"></fa-icon>
    </a>
  </li>
  <li class="social__item">
    <a rel="noopener" aria-label="Facebook Profile" title="Facebook Profile" class="social__link" href="https://facebook.com/pantelismanikas">
      <fa-icon [icon]="faFacebook" class="social__icon"></fa-icon>
    </a>
  </li>
</ul>
