.loader {
  --color: linear-gradient(currentColor 0 0);

  width: 45px;
  height: 40px;
  margin: 0 auto;
  background:
    var(--color) 0% 50%,
    var(--color) 50% 50%,
    var(--color) 100% 50%;
  background-size: 9px 100%;
  background-repeat: no-repeat;
  animation: music-lines 1s infinite linear;
}
