@use './../../../../styles/theme' as *;

.services {
  &__grid {
    display: grid;
    grid-gap: $s-xxxl;
  }
  &__item__details {
    font-weight: 100;
    margin-bottom: 0;
  }
}

@include tablet {
  .services {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
