.spin {
  display: inline-block;
  line-height: 0;
  transform-origin: center center;
  animation-duration: 1s;
  animation-name: spin;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes music-lines {
  33%{ background-size: 9px 10%, 9px 100%, 9px 100% }
  50%{ background-size: 9px 100%, 9px 10%, 9px 100% }
  66%{ background-size: 9px 100%, 9px 100%, 9px 10% }
}
