@use './../abstracts' as *;

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 0 $s-l;
  margin: 0 auto;
}

.text--content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.text--center {
  text-align: center;
}

section {
  padding-top: $s-xl * 1.5;
  padding-bottom: $s-xl * 1.5;
}

hr {
  max-width: 95%;
  height: 1px;
  margin: 0 auto;
  background: transparentize($c-black, 0.95);
  border: none;
}

.accent {
  color: $c-primary;
}

.secondary {
  color: $c-secondary;
}

@include tablet {
  .container {
    width: $s-tablet;
    padding: 0 $s-xl;
  }
}

@include desktop {
  .container {
    width: $s-desktop;
    padding: 0 $s-l;
  }
}

@include widescreen {
  .container {
    width: $s-widescreen;
    padding: 0 $s-xl;
  }

  section {
    padding-top: $s-xxxl * 1.5;
    padding-bottom: $s-xxxl * 1.5;
  }
}
